/* ADD YOUR STYLES HERE */
.signup {
	display: block;
	padding: 10px;
	margin: 10px;
	width: 500px;
	text-align: right;
}

.signup label {
	margin: 20px;
}

.signup input, .validation input {
	border: none;
	border: solid 1px #bcbcbe;
	border-radius: 3px;
	padding: 5px;
	width: 300px;
	margin-top: 10px;
	margin-bottom:10px;
}

.signup input.state {
	width: 10%;
}

.signup input.city {
	width: 30%;
}

.newsletter input {
	width: 40px;
	margin: 20px 0 0 0;
}

.submit input {
	width: 65%;
}

.validation {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	width: 500px;
	text-align: right;
}

.validation label {
	margin-right: 20px;
}
.validation input.valid {
	outline: none;
	border-color: green;
	box-shadow: 0 0 10px green;
}

.is-valid, .is-invalid {
	float: right;
	position: absolute;
	margin: 18px 0px 20px 22px;
}

.is-valid {
	color: green;
}

.validation input.invalid {
	outline: none;
	border-color: red;
	box-shadow: 0 0 10px red;	
}

.is-invalid {
	color: red;
}

.validation .inputVal {
	margin: 10px 10px 10px 10px;
}

.searchBar {
	display: inline-block;
	width: 90%;
	background: #DDDDDD;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 10px;
}
.searchBar * {
	display: inline-block;
}
.searchBar label {
	position: absolute;
	width: 100px;
	margin: 2px 0 0 0;
}

.searchBar .searchInput input {
	margin: 0 90px;
	border-radius: 5px;
}

.rightButton {
	float: right;
	overflow: auto;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	background: #ED828A;
	color: white;
	margin: 0 0 0 0 ;
}

.omnibox {
	position: absolute;
	border: solid 1px lightgray;
	border-radius: 5px;
	padding: 5px 0px 5px 0px;
	width: 500px;
}

.omnibox * {
	text-decoration: none;
	color: white;
	list-style: none;
	display: inline-block;
}

.omnibox li {
	font-size: .8em;
	margin: 2px;
	padding: 2px;
	background: #9b59b6;
	border-radius: 3px;
}

.omnibox a {
	background: #2c3e50;
	border-radius: 2px;
	padding: 1px 2px 1px 2px;
	margin: 0 2px 0 2px;
}

.omnibox input {
	border: none;
}

.chunky * {
	display: inline-table;
}

.chunky p {
	text-decoration: none;
	color: black;
	font-size: .8em;
}

.repo {
	display: block;
}
.stars {
	float: right;
	overflow: auto;
	padding: 10px;
}